<html>
   <head>
        <title>transport</title>
   </head>
   <body>
	        <form method="POST" action="insert">
			      <table>
				  
	              <tr><td>name:</td> <td><input type="text" name="na"></td></tr> 
				  
				  <tr><td>mobile:</td> <td><input type="text" name="mob"></td></tr>

		          <tr><td>id proof:</td> <td><input type="text" name="id"></td></tr>
				  
				  <tr><td>amount:</td> <td><input type="text" name="amt"></td></tr> 


                  <tr><td><input type="submit" name="send" value="SAVE"></td></tr>
				  
				  </table>
		 
		    <form>
	  </body>
	  

</html>